.containerBooking {
  // height: 90vh;
  margin: 40px;
}

.titleBooking {
  font-weight: bold;
  margin-bottom: 30px;
}

.availabilityText {
  color: green;
  font-weight: bold;
}

.lineBeforeForm {
  margin-bottom: 60px;
}

.currentPrice {
  font-weight: bold;
}
