.containerConfirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 90vh;
  text-align: center;
  list-style-type: none;
  background-color: white;
  border-radius: 10px;
}

.headConfirmation {
  margin: 50px;
}
