#page-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 142px;    /* Footer height */
}

.headerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $headers-font;
  margin-top: 25px;
}

// .carousel {
//   width: 100vw;
//   height: 90vh;
//   min-height: 90vh;
//   min-width: 100vw;
// }

.pictureSlide {
  height: 500px;
  border-radius: 10px;
}

.subtitleHome {
  font-family: $body-font;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-4 {
  font-family: $headers-font;
  text-shadow: 2px 2px #111111;
}

.lead {
  Text-shadow: 1px 1px #111111;
}

.banner {
  height: 90vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item {

  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.backgroundImage1 {
background-image: asset-url('picture_1');
}

.backgroundImage2 {
background-image: asset-url('picture_2');
}

.backgroundImage3 {
background-image: asset-url('picture_3');
}

.backgroundImage4 {
background-image: asset-url('picture_4');
}

.backgroundImage5 {
background-image: asset-url('picture_5');
}

.subheaderHome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  font-family: $headers-font;
}
