#map {
  position: sticky;
  bottom: 0px;
  margin: 10px;
  align-self: flex-start;
}

.grid-mapIndex {
  display: flex;
  justify-content: space-evenly;
  margin-left: 15px;
  margin-bottom: 15px;
}

.headerIndex {
  text-align: center;
  margin: 30px;
}

.mapHeight {
  height: 100vh;
}
