<h1 class="headerHome"> Homepage </h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner text-center">
    <div class="carousel-item active">
    <%= image_tag "picture_1.jpg", class: "pictureSlide"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "picture_2.jpg", class: "pictureSlide" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "picture_3.jpg", class:"pictureSlide"%>
    </div>
  </div>
</div>
