<header>
  <div class="informationHome">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item banner active backgroundImage1">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Photora</h2>
            <p class="lead">Rent unique locations for your photoshoot</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item banner backgroundImage2">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Photora</h2>
            <p class="lead">Rent unique locations for your photoshoot</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item banner backgroundImage3" >
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Photora</h2>
            <p class="lead">Rent unique locations for your photoshoot</p>
          </div>
        </div>
        <div class="carousel-item banner backgroundImage4" >
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Photora</h2>
            <p class="lead">Rent unique locations for your photoshoot</p>
          </div>
        </div>
        <div class="carousel-item banner backgroundImage5">
          <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">Photora</h2>
            <p class="lead">Rent unique locations for your photoshoot</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <h2 class="subheaderHome">Get inspired by our TOP 3 Locations</h2>
    <div class="cards-container" style="width: 80vw; margin: 40px auto;">
    <% @display_top.each do |venue| %>
    <div class="card-venue" >
      <%= link_to venue_path(venue), class:"text-decoration-none" do %>
      <%= image_tag venue.photos.first, class:"card-img-top card-venue-img pictureIndex"%>
      <div class="card-body">
        <h5 class="card-title title"><%= venue.name %></h5>
        <h5 class="cardLocation"><%= venue.location %></h5>
        <% if venue.average_rating.zero? %>
          <small><em class="text-muted">no reviews yet</em></small>
        <% else %>
        <% venue.average_rating.times do %>
        <i class="fas fa-star star-yellow starColor"></i>
        <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  </div>
</header>
  <div class="container">
  </div>
