<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">The Venues</h3>
  </div>
  <div class="row">
    <% @venues.each do |venue| %>
      <div class="co-12 colsm-6 col-md-4">
        <%= link_to venues_path, class:'text-decoration-none' do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F608619337135386066%2F&psig=AOvVaw2CJa0zdaFVfvjLUcvOy0eN&ust=1636841854287000&source=images&cd=vfe&ved=0CAwQjhxqFwoTCPj_zf_wk_QCFQAAAAAdAAAAABAD)">
            <%= venue.name %>
            <%= venue.location %>
            <%= venue.price %>

          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>