.cards-container {
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.card-venue {
  background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
  width: 20rem;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: transform .1s;
  text-align: left;
}

.card-venue:hover {
  transform: scale(1.05);
}

.card-venue-img{
  height: 200px;
  object-fit: cover;
}

.title {
  font-family: "Prata", serif;
  color: black;
}

.cardLocation {
  color: grey;
  font-size: medium;
}

.card-text {
  font-family: $body-font;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}
