.cards-container {
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.card-venue {
  background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
  width: 20rem;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 10px;
  // text-align: center;
}

.card-venue-img{
  height: 200px;
  object-fit: cover;
}

.cardLocation {
  color: grey;
  font-size: medium;
}

.cardButton {
  border-radius: 10px;
}

.card-text {
  font-family: $body-font;
  margin-bottom: 10px;
}
